.left{
    border-right: 1px solid var(--borderColor);
    width: 50%;
    /* height: 20px; */
    padding: 10px;
}

.right{
   
    width: 50%;
    padding: 10px;

}
.circle{
    border: 2px solid var(--greenColor);
    padding: 10px;
    border-radius: 100%;
}
.la{
    gap: 10px;
}
.pro{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.softwareName{
    margin: 8px 0px;
}

.knowledge{
    margin: 0px !important;
    gap: 10px;
}
.knowName{
    margin: 8px 0px;
}

.lanCircle{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: var(--lableColor);
}

.completed{
    background-color: var(--greenColor);
}