@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600&display=swap");
:root {
  --bgColor: #191a22;
  --fontColor: #d5d5d5;
  --greenColor: #00b453;
  --lightGreenColor: #0aff1a31;
  --lableColor: #535353;
  --divColor: #22232e;
  --borderColor: #42455e;
}
* {
  font-family: "Inconsolata", monospace;
}
body {
  background-color: var(--bgColor);
  color: var(--fontColor);
  font-family: "Inconsolata", monospace !important;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: url("./Assets/Icons/normalCursor.png"),auto;
}

a{
  cursor: url("./Assets/Icons/cursorPointer.png"),auto;

}
button{
  cursor: url("./Assets/Icons/cursorPointer.png"),auto !important;
}
Button{
  cursor: url("./Assets/Icons/cursorPointer.png"),auto !important;
}
Link{
  cursor: url("./Assets/Icons/cursorPointer.png"),auto !important;
}

.bg {
  background-color: var(--divColor);
  height: 94vh;
  width: 80vw;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 10px;
}

.leftSide {
  flex: 2;
  border-radius: 10px;
  background-color: var(--divColor);
  box-shadow: 5px 5px 20px var(--bgColor);
}

.rightSide {
  flex: 3;
  background-color: var(--divColor);
  border-radius: 10px;
}
.mouseCursor{
  z-index: 1;
  position: absolute;
  background-color: #00b45459;
  width: 30px;
  height: 30px;
  border-radius: 100%;
}



@media screen and (max-width: 800px) {
  .bg {
    display: block;
    /* flex-direction: column; */
    padding: 0px;
  }
  .rightSide {
    margin-top: 10px;
  }
}


